/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
 	font-family: 'Lato', sans-serif;
 	background: #EDEFF0;
 }

.wrapper {
	width: 70%;
	max-width: 1140px;
	margin: 0 auto;
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

h1 {
	color: #397CAC;
}

.main_header {
	width: 100%;
	margin: 0 auto;
	background: white; 
	#logo {
		text-align: center;
		font-weight: lighter;
		margin-bottom: 0;
		h1 {
			margin-bottom: .25em;
		}
		a {
			text-transform: uppercase;
			font-weight: lighter;
			letter-spacing: -1px;
			font-size: 3rem;
			text-decoration: none;
			color: #397CAC;
		}
	}
	#buttons
		{
			float: right;
			a {
				line-height: 30px;
				background: #397CAC;
				padding: .5em 1em;
				border-radius: 0.2em;
				color: white;
				text-decoration: none;
				font-weight: 100;
				margin-bottom: 3em;
				font-size: .75em;
				margin-right: 0em;
				margin-top: 0;
			}
		}
	#tags
	{	
		display: flex;
		float: left;
		a {
				line-height: 30px;
				background: #white;
				padding: .2em .3em;
				border-radius: 0.1em;
				border: solid #397CAC;
				border-width: thin;
				color: #397CAC;
				text-decoration: none;
				font-weight: 100;
				margin-right: .9em;
				font-size: .58em;
				margin-top: 5em;
			}
	}
}

#posts { 
	background: white;
	padding: 2em 5%;
	border-radius: .5em;
	.post {	
			height: 100%;
			margin: 1em 0;
			padding: 2em;
			border-top: solid 1px black;
			
		.title {
			margin: 0;
			text-align: center;
			a {
				color: #397CAC;
				text-decoration: none;
				font-weight: 100;
				font-size: 1.25rem; 
			}
		}
		.date {
			margin-top: .25rem;
			font-size: .9rem;
			color: #B2BAC2;
			text-align: center;
		}
	}
	}

#post_content {
	background: white;
	padding: 2em 5%;
	border-radius: .5em;
	h1 {
		font-weight: 100;
		font-size: 2em;
		color: #397CAC;
		margin-top: 0;
	}
	p {
		color: #B2BAC2;
		font-size: 0.9rem;
		font-weight: 100;
		line-height: 1.5;

	}
}

.likes, .tags {
	display: flex;
	float: left;
	padding-bottom: 1em;
	margin-left: 1em;
	margin-right: 1em;
}

.comment.count {
	display: flex;
	float: left;
	padding-bottom: 1em;
	
	margin-left: 1em;
	margin-right: 1em;
		a{
			padding-right: 5px;
		}
}

text {
	padding-left: 2px;
}

form {
  max-width: 100%;
  display: block;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin: 0 0 0.25em 0; 
      clear: both;
      display: inline-block;
      width: 100%;
      &:last-child {
          margin: 0;    
        }
        p {
          margin: 0;
          padding: 0;
          float: left;
          &.right {
            float: right;
          }
        }     
        .divider {
          margin: 0.5em 0 0.5em 0;
          border: 0;
          height: 1px;
          width: 100%;
          display: block;
          background-color: blue;
          background-image: linear-gradient(to right, pink, blue);
        }
        .req {
          color: pink; 
        }
    }
  }
  label {
    display: block;
    margin: 0 0 0.5em 0;
    color: #397CAC;
    font-size: pxtoem(16, 16);
  }
  input {
    border: 1px solid grey;
    padding: 6px 10px;
    color: dark_grey;
    font-size: pxtoem(16, 16);
    margin-top: .5em;
    margin-bottom: .5em;
    
  }
  textarea {
    border: 1px solid grey;
    padding: 6px 10px;
    width: 100%;
    color: dark_grey;
  }
  small {
    color: blue;
    margin: 0 0 0 0.5em;
  }
}

